@model SCEducationPortal.Business.Commons.Models.EducationContentModels.EducationContentRequest
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers



<h3>Egitim İçeriği Ekle</h3>

<hr />
<form asp-action="CreateEducationContent">
    <div class="form-group">
        <label>İçerik Adı</label>
        <input class="form-control" asp-for="Title" />
        <span class="form-text text-muted" asp-validation-for="Title"></span>
    </div>
    <div class="form-group">
        <label>İçerik Detay</label>
        <input class="form-control" asp-for="Description" />
        <span class="form-text text-muted" asp-validation-for="Description"></span>
    </div>
    @Html.HiddenFor(c => c.EducationId)
    <button type="submit" class="btn btn-primary">İçerik Ekle</button>
</form>

@*<form asp-action="CreateEducationContent" enctype="multipart/form-data">
    <div class="form-group">
        <label>İçerik Adı</label>
        <input class="form-control" asp-for="Title" />
        <span class="form-text text-muted" asp-validation-for="Title"></span>
    </div>
    <div class="form-group">
        <label>İçerik Detay</label>
        <input class="form-control" asp-for="Description" />
        <span class="form-text text-muted" asp-validation-for="Description"></span>
    </div>

    <div class="form-group">
        <label>Dosya</label>

        <input type="file" class="form-control form-control-file" name="file" />
    </div>

    @Html.HiddenFor(c => c.EducationId)
    <button type="submit" class="btn btn-primary">Güncelle</button>
</form>*@