
@model List<SCEducationPortal.Business.Commons.Models.CategoryModels.CategoryListResponse>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{

}

<h3>Kategoriler</h3>
<ul class="list-group list-group-flush">

    <li class="list-group-item">
        @Html.ActionLink("Tüm Kategoriler", "Index", "Education", new { id =0})
    </li>
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            @Html.ActionLink(item.Title, "Index", "Education", new { id = item.Id, page = 0 })
        </li>
    }
</ul>